-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: web_shop_php
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `carts`
--

DROP TABLE IF EXISTS `carts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `carts` (
  `cart_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `add_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`cart_id`),
  KEY `user_id` (`user_id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `carts_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `carts_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carts`
--

LOCK TABLES `carts` WRITE;
/*!40000 ALTER TABLE `carts` DISABLE KEYS */;
INSERT INTO `carts` VALUES (1,3,2,'2026-04-22 18:00:41');
/*!40000 ALTER TABLE `carts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categories` (
  `category_id` int(11) NOT NULL AUTO_INCREMENT,
  `category_name` varchar(255) NOT NULL,
  `create_at` timestamp NULL DEFAULT current_timestamp(),
  `url` varchar(255) DEFAULT NULL COMMENT 'Duong link trang web nha san xuat',
  PRIMARY KEY (`category_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES (1,'shoes','2026-04-21 03:34:07',NULL),(2,'shirt','2026-04-21 09:33:46',NULL),(3,'pants','2026-04-21 09:33:46',NULL),(4,'Gi├áy Chß║íy Bß╗Ö','2026-04-25 12:54:35',NULL),(5,'Gi├áy B├│ng Rß╗ò','2026-04-25 12:54:35',NULL),(6,'├üo Kho├íc Thß╗â Thao','2026-04-25 12:54:35',NULL),(7,'Quß║ºn Tß║¡p Gym','2026-04-25 12:54:35',NULL),(8,'Phß╗Ñ Kiß╗çn','2026-04-25 12:54:35',NULL);
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory`
--

DROP TABLE IF EXISTS `inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventory` (
  `inventory_id` int(11) NOT NULL AUTO_INCREMENT,
  `product_id` int(11) NOT NULL,
  `quantity` int(11) DEFAULT 0,
  `reserved_quantity` int(11) DEFAULT 0 COMMENT 'so luong da giu cho (don hang chua hoan tat)',
  `available_quantity` int(11) GENERATED ALWAYS AS (`quantity` - `reserved_quantity`) STORED COMMENT 'so luong co the ban (ton - giu cho)',
  `min_stock_level` int(11) DEFAULT 10 COMMENT 'muc ton toi thieu (canh bao sap het hang)',
  `status` varchar(50) DEFAULT 'in_stock',
  `last_updated` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `variant_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`inventory_id`),
  KEY `product_id` (`product_id`),
  KEY `fk_variant` (`variant_id`),
  CONSTRAINT `fk_variant` FOREIGN KEY (`variant_id`) REFERENCES `product_variants` (`variant_id`),
  CONSTRAINT `inventory_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory`
--

LOCK TABLES `inventory` WRITE;
/*!40000 ALTER TABLE `inventory` DISABLE KEYS */;
INSERT INTO `inventory` VALUES (1,1,50,5,45,10,'in_stock','2026-04-21 10:14:58',1),(2,1,40,2,38,10,'in_stock','2026-04-21 10:14:58',2),(3,1,30,0,30,10,'in_stock','2026-04-21 10:14:58',3),(4,1,20,1,19,10,'low_stock','2026-04-21 10:14:58',4),(5,2,25,3,22,5,'in_stock','2026-04-21 10:14:58',5),(6,2,15,5,10,5,'low_stock','2026-04-21 10:14:58',6),(7,2,10,2,8,5,'low_stock','2026-04-21 10:14:58',7);
/*!40000 ALTER TABLE `inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manufacturers`
--

DROP TABLE IF EXISTS `manufacturers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `manufacturers` (
  `manufacturer_id` int(11) NOT NULL AUTO_INCREMENT,
  `manufacturer_name` varchar(255) NOT NULL,
  `create_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`manufacturer_id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manufacturers`
--

LOCK TABLES `manufacturers` WRITE;
/*!40000 ALTER TABLE `manufacturers` DISABLE KEYS */;
INSERT INTO `manufacturers` VALUES (1,'Nike','2026-04-21 09:24:52'),(2,'Adidas','2026-04-21 09:35:55'),(3,'Puma','2026-04-21 09:35:55'),(4,'Under Armour','2026-04-21 09:35:55'),(5,'New Balance','2026-04-21 09:35:55'),(6,'Lululemon','2026-04-21 09:35:55'),(7,'Nike','2026-04-25 12:54:35'),(8,'Adidas','2026-04-25 12:54:35'),(9,'Puma','2026-04-25 12:54:35'),(10,'New Balance','2026-04-25 12:54:35'),(11,'Under Armour','2026-04-25 12:54:35');
/*!40000 ALTER TABLE `manufacturers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_items`
--

DROP TABLE IF EXISTS `order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `order_items` (
  `order_item_id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'ID chi ti???t ????n h??ng',
  `order_id` int(11) NOT NULL COMMENT 'Li??n k???t ?????n ????n h??ng',
  `product_id` int(11) NOT NULL COMMENT 'ID s???n ph???m',
  `variant_id` int(11) DEFAULT NULL COMMENT 'Bi???n th??? (size, m??u)',
  `product_name` varchar(255) NOT NULL COMMENT 'T??n s???n ph???m t???i th???i ??i???m mua',
  `product_image` varchar(255) DEFAULT NULL COMMENT '???nh s???n ph???m snapshot',
  `sku` varchar(100) DEFAULT NULL COMMENT 'M?? bi???n th???',
  `price` decimal(15,2) NOT NULL COMMENT 'Gi?? t???i th???i ??i???m mua',
  `quantity` int(11) NOT NULL COMMENT 'S??? l?????ng',
  `total_price` decimal(15,2) NOT NULL COMMENT 'price * quantity',
  PRIMARY KEY (`order_item_id`),
  KEY `order_id` (`order_id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `order_items_ibfk_1` FOREIGN KEY (`order_id`) REFERENCES `orders` (`order_id`) ON DELETE CASCADE,
  CONSTRAINT `order_items_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orders` (
  `order_id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'ID ????n h??ng',
  `user_id` int(11) NOT NULL COMMENT 'ID ng?????i d??ng ?????t h??ng',
  `order_code` varchar(50) DEFAULT NULL COMMENT 'M?? ????n h??ng hi???n th??? cho user (VD: ORD20260420001)',
  `status` enum('pending','confirmed','shipping','completed','cancelled') DEFAULT 'pending' COMMENT 'Tr???ng th??i ????n h??ng: pending(ch???), confirmed(x??c nh???n), shipping(??ang giao), completed(ho??n th??nh), cancelled(???? h???y)',
  `payment_status` enum('unpaid','paid','failed','refunded') DEFAULT 'unpaid' COMMENT 'Tr???ng th??i thanh to??n: unpaid(ch??a thanh to??n), paid(???? thanh to??n), failed(th???t b???i), refunded(???? ho??n ti???n)',
  `subtotal` decimal(15,2) NOT NULL COMMENT 'T???ng ti???n s???n ph???m tr?????c khi gi???m gi?? v?? ph?? ship',
  `discount_amount` decimal(10,2) DEFAULT 0.00 COMMENT 'S??? ti???n ???????c gi???m t??? voucher ho???c khuy???n m??i',
  `shipping_fee` decimal(10,2) DEFAULT 0.00 COMMENT 'Ph?? v???n chuy???n',
  `total_amount` decimal(15,2) NOT NULL COMMENT 'T???ng ti???n cu???i c??ng kh??ch ph???i tr??? = subtotal - discount + shipping_fee',
  `voucher_id` int(11) DEFAULT NULL COMMENT 'ID voucher ???? s??? d???ng (c?? th??? NULL n???u kh??ng d??ng)',
  `voucher_code` varchar(50) DEFAULT NULL COMMENT 'Snapshot m?? voucher t???i th???i ??i???m ?????t h??ng',
  `voucher_discount` decimal(10,2) DEFAULT NULL COMMENT 'Snapshot s??? ti???n gi???m t??? voucher',
  `recipient_name` varchar(255) NOT NULL COMMENT 'T??n ng?????i nh???n (snapshot, kh??ng ph??? thu???c user_address)',
  `recipient_phone` varchar(20) NOT NULL COMMENT 'S??? ??i???n tho???i ng?????i nh???n',
  `province_name` varchar(100) NOT NULL COMMENT 'T??n t???nh/th??nh (snapshot)',
  `district_name` varchar(100) NOT NULL COMMENT 'T??n qu???n/huy???n (snapshot)',
  `ward_name` varchar(100) NOT NULL COMMENT 'T??n ph?????ng/x?? (snapshot)',
  `specific_address` varchar(255) NOT NULL COMMENT '?????a ch??? c??? th???: s??? nh??, ???????ng, khu d??n c??...',
  `user_address_id` int(11) DEFAULT NULL COMMENT 'ID ?????a ch??? c???a user (ch??? d??ng tham chi???u/g???i ??, kh??ng d??ng hi???n th???)',
  `created_at` timestamp NULL DEFAULT current_timestamp() COMMENT 'Th???i ??i???m t???o ????n h??ng',
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'Th???i ??i???m c???p nh???t g???n nh???t (tr???ng th??i, thanh to??n,...)',
  PRIMARY KEY (`order_id`),
  UNIQUE KEY `order_code` (`order_code`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='B???ng l??u th??ng tin ????n h??ng: ng?????i mua, ?????a ch??? giao, tr???ng th??i, thanh to??n v?? t???ng ti???n (???? snapshot ????? ?????m b???o t??nh to??n v???n d??? li???u)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payments` (
  `payment_id` int(11) NOT NULL AUTO_INCREMENT,
  `order_id` int(11) NOT NULL,
  `amount` varchar(255) DEFAULT NULL COMMENT 'tien da thanh toan',
  `method` varchar(255) DEFAULT NULL COMMENT 'momo, cod, banking',
  `status` varchar(255) DEFAULT NULL COMMENT 'pending, success, failed',
  `transaction_code` varchar(255) DEFAULT NULL COMMENT 'ma giao dich',
  `paid_at` timestamp NULL DEFAULT current_timestamp() COMMENT 'ngay giao dich',
  PRIMARY KEY (`payment_id`),
  KEY `order_id` (`order_id`),
  CONSTRAINT `payments_ibfk_1` FOREIGN KEY (`order_id`) REFERENCES `orders` (`order_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_images`
--

DROP TABLE IF EXISTS `product_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_images` (
  `image_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `image` varchar(255) NOT NULL COMMENT '???nh ph???, c?? th??? c?? nhi???u ???nh ',
  KEY `product_id` (`product_id`),
  CONSTRAINT `product_images_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_images`
--

LOCK TABLES `product_images` WRITE;
/*!40000 ALTER TABLE `product_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_variants`
--

DROP TABLE IF EXISTS `product_variants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_variants` (
  `variant_id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'ID bi???n th???',
  `product_id` int(11) NOT NULL COMMENT 'S???n ph???m cha',
  `sku` varchar(100) DEFAULT NULL COMMENT 'M?? bi???n th??? (quan tr???ng)',
  `price` decimal(10,2) DEFAULT NULL COMMENT 'Gi?? ri??ng (n???u kh??c product)',
  `image` varchar(255) DEFAULT NULL COMMENT '???nh ri??ng c???a bi???n th??? (m??u ?????, m??u ??en...)',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`variant_id`),
  UNIQUE KEY `sku` (`sku`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `product_variants_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='C??c bi???n th??? c???a s???n ph???m (size, m??u,...)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_variants`
--

LOCK TABLES `product_variants` WRITE;
/*!40000 ALTER TABLE `product_variants` DISABLE KEYS */;
INSERT INTO `product_variants` VALUES (1,1,'NIKE-TS-M-RED',450000.00,'nike_tshirt_red.jpg','2026-04-21 10:09:18'),(2,1,'NIKE-TS-M-BLACK',450000.00,'nike_tshirt_black.jpg','2026-04-21 10:09:18'),(3,1,'NIKE-TS-L-RED',450000.00,'nike_tshirt_red.jpg','2026-04-21 10:09:18'),(4,1,'NIKE-TS-L-BLACK',450000.00,'nike_tshirt_black.jpg','2026-04-21 10:09:18'),(5,2,'ADI-SHOES-40',1800000.00,'adidas_40.jpg','2026-04-21 10:09:47'),(6,2,'ADI-SHOES-41',1800000.00,'adidas_41.jpg','2026-04-21 10:09:47'),(7,2,'ADI-SHOES-42',1800000.00,'adidas_42.jpg','2026-04-21 10:09:47');
/*!40000 ALTER TABLE `product_variants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `products` (
  `product_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `short_description` text DEFAULT NULL,
  `price` decimal(10,2) NOT NULL,
  `discount_price` decimal(10,2) DEFAULT NULL COMMENT 'giam gia (neu co)',
  `sku` varchar(100) DEFAULT NULL COMMENT 'ma san pham',
  `category_id` int(11) DEFAULT NULL COMMENT 'loai san pham (ao, quan, giay,..)',
  `manufacturer_id` int(11) DEFAULT NULL COMMENT 'hang san xuat',
  `thumbnail` varchar(255) DEFAULT NULL COMMENT 'Anh chinh',
  `sold_count` int(11) DEFAULT 0 COMMENT 'so luong da ban',
  `is_new` tinyint(1) DEFAULT 1,
  `status` varchar(50) DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`product_id`),
  KEY `category_id` (`category_id`),
  KEY `manufacturer_id` (`manufacturer_id`),
  CONSTRAINT `products_ibfk_1` FOREIGN KEY (`category_id`) REFERENCES `categories` (`category_id`),
  CONSTRAINT `products_ibfk_2` FOREIGN KEY (`manufacturer_id`) REFERENCES `manufacturers` (`manufacturer_id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reviews`
--

DROP TABLE IF EXISTS `reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reviews` (
  `review_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `content` text DEFAULT NULL,
  PRIMARY KEY (`review_id`),
  KEY `user_id` (`user_id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `reviews_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `reviews_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reviews`
--

LOCK TABLES `reviews` WRITE;
/*!40000 ALTER TABLE `reviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_address`
--

DROP TABLE IF EXISTS `user_address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_address` (
  `user_address_id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'ID ?????a ch???',
  `user_id` int(11) NOT NULL COMMENT 'ID ng?????i d??ng',
  `recipient_name` varchar(255) NOT NULL COMMENT 'T??n ng?????i nh???n',
  `recipient_phone` varchar(20) NOT NULL COMMENT 'S??? ??i???n tho???i',
  `province_name` varchar(100) NOT NULL COMMENT 'T???nh / Th??nh ph???',
  `district_name` varchar(100) NOT NULL COMMENT 'Qu???n / Huy???n',
  `ward_name` varchar(100) NOT NULL COMMENT 'Ph?????ng / X??',
  `specific_address` varchar(255) NOT NULL COMMENT 'S??? nh??, ???????ng, khu d??n c??...',
  `is_default` tinyint(1) DEFAULT 0 COMMENT '?????a ch??? m???c ?????nh',
  `label` varchar(50) DEFAULT NULL COMMENT 'Nh?? ri??ng/c??ng ty',
  `created_at` timestamp NULL DEFAULT current_timestamp() COMMENT 'Ng??y t???o',
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'Ng??y c???p nh???t',
  PRIMARY KEY (`user_address_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `user_address_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Danh s??ch ?????a ch??? c???a user, d??ng ????? ch???n khi ?????t h??ng (kh??ng d??ng tr???c ti???p cho orders)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_address`
--

LOCK TABLES `user_address` WRITE;
/*!40000 ALTER TABLE `user_address` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('customer','staff','admin') DEFAULT 'customer',
  `status` enum('active','locked') DEFAULT 'active',
  `gender` enum('0','1','2') DEFAULT NULL,
  `number_phone` int(11) DEFAULT NULL,
  `gmail` varchar(255) DEFAULT NULL,
  `create_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `variant_attributes`
--

DROP TABLE IF EXISTS `variant_attributes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `variant_attributes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `variant_id` int(11) DEFAULT NULL,
  `attribute_name` varchar(50) DEFAULT NULL COMMENT 'size, color',
  `attribute_value` varchar(50) DEFAULT NULL COMMENT 'M, red',
  PRIMARY KEY (`id`),
  KEY `variant_id` (`variant_id`),
  CONSTRAINT `variant_attributes_ibfk_1` FOREIGN KEY (`variant_id`) REFERENCES `product_variants` (`variant_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `variant_attributes`
--

LOCK TABLES `variant_attributes` WRITE;
/*!40000 ALTER TABLE `variant_attributes` DISABLE KEYS */;
INSERT INTO `variant_attributes` VALUES (1,1,'size','M'),(2,1,'color','red'),(3,2,'size','M'),(4,2,'color','black'),(5,3,'size','L'),(6,3,'color','red'),(7,4,'size','L'),(8,4,'color','black'),(9,5,'size','40'),(10,6,'size','41'),(11,7,'size','42');
/*!40000 ALTER TABLE `variant_attributes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `voucher_categories`
--

DROP TABLE IF EXISTS `voucher_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `voucher_categories` (
  `voucher_categorie_id` int(11) NOT NULL AUTO_INCREMENT,
  `voucher_id` int(11) NOT NULL,
  `category_id` int(11) NOT NULL,
  PRIMARY KEY (`voucher_categorie_id`),
  KEY `voucher_id` (`voucher_id`),
  KEY `category_id` (`category_id`),
  CONSTRAINT `voucher_categories_ibfk_1` FOREIGN KEY (`voucher_id`) REFERENCES `vouchers` (`voucher_id`),
  CONSTRAINT `voucher_categories_ibfk_2` FOREIGN KEY (`category_id`) REFERENCES `categories` (`category_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `voucher_categories`
--

LOCK TABLES `voucher_categories` WRITE;
/*!40000 ALTER TABLE `voucher_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `voucher_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `voucher_products`
--

DROP TABLE IF EXISTS `voucher_products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `voucher_products` (
  `voucher_product_id` int(11) NOT NULL AUTO_INCREMENT,
  `voucher_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  PRIMARY KEY (`voucher_product_id`),
  KEY `voucher_id` (`voucher_id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `voucher_products_ibfk_1` FOREIGN KEY (`voucher_id`) REFERENCES `vouchers` (`voucher_id`),
  CONSTRAINT `voucher_products_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `voucher_products`
--

LOCK TABLES `voucher_products` WRITE;
/*!40000 ALTER TABLE `voucher_products` DISABLE KEYS */;
/*!40000 ALTER TABLE `voucher_products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vouchers`
--

DROP TABLE IF EXISTS `vouchers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vouchers` (
  `voucher_id` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `discount_type` enum('percent','fixed') NOT NULL,
  `discount_value` decimal(10,2) NOT NULL,
  `max_discount` decimal(10,2) DEFAULT NULL COMMENT 'Gi???m t???i ??a bao nhi??u, vi du giam 50% toi da 100k',
  `min_order_value` decimal(10,2) DEFAULT 0.00,
  `usage_limit` int(11) DEFAULT NULL COMMENT 'tong so luong dung',
  `used_count` int(11) DEFAULT 0 COMMENT 'da dung bao nhieu',
  `start_date` datetime DEFAULT NULL,
  `end_date` datetime DEFAULT NULL,
  `status` enum('active','inactive','expired') DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`voucher_id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vouchers`
--

LOCK TABLES `vouchers` WRITE;
/*!40000 ALTER TABLE `vouchers` DISABLE KEYS */;
/*!40000 ALTER TABLE `vouchers` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-25 20:06:52
